In [1]:
from pyspark.sql import SparkSession
from pyspark.conf import SparkConf
from pyspark.sql.types import DateType, StringType, FloatType, IntegerType
from pyspark.sql.window import Window
import pyspark.sql.functions as F

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName("PySpark City Payroll Analysis") \
    .config("spark.driver.memory", "2g") \
    .config("spark.executor.memory", "2g") \
    .getOrCreate()

In [3]:
nycdf = spark.read.option("header",True).csv("City_Employee_Payroll_New_York_City.csv")
ladf = spark.read.option("header",True).csv("City_Employee_Payroll_Los_Angeles.csv")

In [4]:
nycdf.printSchema()

root
 |-- Fiscal Year: string (nullable = true)
 |-- Payroll Number: string (nullable = true)
 |-- Agency Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Mid Init: string (nullable = true)
 |-- Agency Start Date: string (nullable = true)
 |-- Work Location Borough: string (nullable = true)
 |-- Title Description: string (nullable = true)
 |-- Leave Status as of June 30: string (nullable = true)
 |-- Base Salary: string (nullable = true)
 |-- Pay Basis: string (nullable = true)
 |-- Regular Hours: string (nullable = true)
 |-- Regular Gross Paid: string (nullable = true)
 |-- OT Hours: string (nullable = true)
 |-- Total OT Paid: string (nullable = true)
 |-- Total Other Pay: string (nullable = true)

In [5]:
ladf.printSchema()

root
 |-- RECORD_NBR: string (nullable = true)
 |-- PAY_YEAR: string (nullable = true)
 |-- DEPARTMENT_NO: string (nullable = true)
 |-- DEPARTMENT_TITLE: string (nullable = true)
 |-- JOB_CLASS_PGRADE: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- EMPLOYMENT_TYPE: string (nullable = true)
 |-- JOB_STATUS: string (nullable = true)
 |-- MOU: string (nullable = true)
 |-- MOU_TITLE: string (nullable = true)
 |-- REGULAR_PAY: string (nullable = true)
 |-- OVERTIME_PAY: string (nullable = true)
 |-- ALL_OTHER_PAY: string (nullable = true)
 |-- TOTAL_PAY: string (nullable = true)
 |-- CITY_RETIREMENT_CONTRIBUTIONS: string (nullable = true)
 |-- BENEFIT_PAY: string (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)

In [6]:
nycdf.sample(False, 0.0002, 999).show(10)

+-----------+--------------+-----------------+-----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+
|Fiscal Year|Payroll Number|      Agency Name|  Last Name|First Name|Mid Init|Agency Start Date|Work Location Borough|   Title Description|Leave Status as of June 30|Base Salary|Pay Basis|Regular Hours|Regular Gross Paid|OT Hours|Total OT Paid|Total Other Pay|
+-----------+--------------+-----------------+-----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+
|       2020|            56|POLICE DEPARTMENT|     WALKER|     JAMAL|       H|       01/10/2005|             BROOKLYN|     P.O. DA DET GR3|                    ACTIVE|   96502.00|per Annum|         2080|          95892.38|  668.57|     36078.88|       16789.12|
|       2020|            56|POLICE DEPARTMENT|     MOONEY|   PATRICK|       L|       07/22/2002|            MANHATTAN|     P.O. DA DET GR3|                    CEASED|   96502.00|per Annum|       1954.3|          90144.27|   334.5|     24379.71|       19967.38|
|       2020|            56|POLICE DEPARTMENT|        LAU|   KAMYUEN|    null|       09/29/2000|               QUEENS|      POLICE OFFICER|                    ACTIVE|   85292.00|per Annum|         2080|          84831.14|     545|     31658.74|       17256.66|
|       2020|            56|POLICE DEPARTMENT|       HOOP|     GAVIN|       S|       07/10/2006|                BRONX|           SERGEANT-|                    ACTIVE|  109360.00|per Annum|         2080|         108768.97|  132.83|      6715.62|       17245.51|
|       2020|            56|POLICE DEPARTMENT|     AIELLO|   MATTHEW|       A|       01/09/2006|             RICHMOND|      POLICE OFFICER|                    ACTIVE|   85292.00|per Annum|         2080|          84831.14|  167.17|      8047.68|       14449.92|
|       2020|            56|POLICE DEPARTMENT|  FERNANDEZ|     OSCAR|       R|       01/04/2017|                BRONX|      POLICE OFFICER|                    ACTIVE|   54394.00|per Annum|         2080|          53927.40|  264.22|      7213.76|        9461.92|
|       2020|            56|POLICE DEPARTMENT|   MARTELLI|     DAVID|       M|       07/02/2018|               QUEENS|      POLICE OFFICER|                    ACTIVE|   45000.00|per Annum|         2080|          43438.28|  225.17|      4309.56|        6076.57|
|       2020|            56|POLICE DEPARTMENT|SCANTLEBURY|      TONI|       E|       10/29/2018|             BROOKLYN|POLICE COMMUNICAT...|                    ACTIVE|   40636.00|per Annum|         1820|          39460.48|  245.75|      6848.38|        3721.06|
|       2020|            56|POLICE DEPARTMENT|      NOLAN|   TIMOTHY|       J|       06/01/2009|            MANHATTAN|      PARALEGAL AIDE|                    ACTIVE|   46713.00|per Annum|         1820|          43827.30|       0|         0.00|        1750.78|
|       2020|            56|POLICE DEPARTMENT|  MCCLELLAN|    JIASIA|       J|       12/16/2019|             BROOKLYN|TRAFFIC ENFORCEME...|                    ACTIVE|   41493.00|per Annum|          960|          18154.81|       3|        89.42|         178.11|
+-----------+--------------+-----------------+-----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+
only showing top 10 rows

In [7]:
nycduplicated = nycdf.groupby(nycdf.columns).count().where('count > 1').sort('count', ascending=False)
print(f'There are {nycduplicated.count()} unique records that are duplicated.')
nycduplicated.show()

There are 14 unique records that are duplicated.
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-----+
|Fiscal Year|Payroll Number|         Agency Name|Last Name|First Name|Mid Init|Agency Start Date|Work Location Borough|   Title Description|Leave Status as of June 30|Base Salary|Pay Basis|Regular Hours|Regular Gross Paid|OT Hours|Total OT Paid|Total Other Pay|count|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-----+
|       2019|           903|DISTRICT ATTORNEY...|     null|      null|    null|       01/30/2019|             BROOKLYN|RACKETS INVESTIGA...|                    ACTIVE|   57824.00|per Annum|          824|          24544.67|      18|       747.72|         664.64|    4|
|       2016|          null|DISTRICT ATTORNEY...|     null|      null|    null|       04/04/2016|               QUEENS|SENIOR RACKETS IN...|                    ACTIVE|   54047.00|per Annum|       508.57|          11336.85|       0|         0.00|           0.00|    3|
|       2015|          null|BOARD OF ELECTION...| WILLIAMS|  JEANETTE|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            581.00|       0|         0.00|           0.00|    2|
|       2015|          null|BOARD OF ELECTION...|RODRIGUEZ|      JOSE|       A|       01/01/2014|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
|       2016|          null|BOARD OF ELECTION...|    JONES|   DELORES|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            780.00|       0|         0.00|           0.00|    2|
|       2017|          null|DISTRICT ATTORNEY...|     null|      null|    null|       06/19/2017|               QUEENS|RACKETS INVESTIGATOR|                    ACTIVE|   45538.00|per Annum|           40|            873.33|       0|         0.00|           0.00|    2|
|       2018|           906|DISTRICT ATTORNEY...|     null|      null|    null|       06/11/2018|            MANHATTAN|SENIOR RACKETS IN...|                    ACTIVE|   60000.00|per Annum|           80|           2301.37|       0|         0.00|           0.00|    2|
|       2016|          null|DEPARTMENT OF SAN...| WILLIAMS|     DAVID|       J|       01/25/2016|            MANHATTAN|  CITY SEASONAL AIDE|                    ACTIVE|      13.50| per Hour|           16|            216.00|       0|         0.00|           0.00|    2|
|       2016|          null|BOARD OF ELECTION...|RODRIGUEZ|     ERIKA|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
|       2016|          null|BOARD OF ELECTION...|    SMITH|  MICHELLE|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
|       2015|          null|BOARD OF ELECTION...|    BROWN|  BEATRICE|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
|       2017|          null|DISTRICT ATTORNEY...|     null|      null|    null|       10/20/2014|               QUEENS|SENIOR RACKETS IN...|                    ACTIVE|   59942.00|per Annum|      2051.43|          68776.45|       0|         0.00|           0.00|    2|
|       2016|          null|BOARD OF ELECTION...|    BROWN|  BEATRICE|    null|       01/01/2010|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
|       2016|          null|BOARD OF ELECTION...|ARMSTRONG|    SHARON|    null|       01/01/2015|            MANHATTAN|     ELECTION WORKER|                    ACTIVE|       1.00| per Hour|            0|            575.00|       0|         0.00|           0.00|    2|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-----+

In [8]:
nycdf = nycdf.distinct()
nycdf = nycdf.withColumn('Agency Start Date', F.col('Agency Start Date').cast(DateType())) \
        .withColumn('Base Salary', F.col('Base Salary').cast(FloatType())) \
        .withColumn('Regular Hours', F.col('Regular Hours').cast(IntegerType())) \
        .withColumn('Regular Gross Paid', F.col('Regular Gross Paid').cast(FloatType())) \
        .withColumn('OT Hours', F.col('OT Hours').cast(FloatType())) \
        .withColumn('Total OT Paid', F.col('Total OT Paid').cast(FloatType())) \
        .withColumn('Total Other Pay', F.col('Total Other Pay').cast(FloatType())) \
        .withColumn("Row Index", F.monotonically_increasing_id())

nycdf.printSchema()

root
 |-- Fiscal Year: string (nullable = true)
 |-- Payroll Number: string (nullable = true)
 |-- Agency Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Mid Init: string (nullable = true)
 |-- Agency Start Date: date (nullable = true)
 |-- Work Location Borough: string (nullable = true)
 |-- Title Description: string (nullable = true)
 |-- Leave Status as of June 30: string (nullable = true)
 |-- Base Salary: float (nullable = true)
 |-- Pay Basis: string (nullable = true)
 |-- Regular Hours: integer (nullable = true)
 |-- Regular Gross Paid: float (nullable = true)
 |-- OT Hours: float (nullable = true)
 |-- Total OT Paid: float (nullable = true)
 |-- Total Other Pay: float (nullable = true)
 |-- Row Index: long (nullable = false)

In [9]:
ladf.sample(False, 0.0002, 999).show(10)

+------------+--------+-------------+----------------+----------------+--------------------+---------------+----------+---+--------------------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+
|  RECORD_NBR|PAY_YEAR|DEPARTMENT_NO|DEPARTMENT_TITLE|JOB_CLASS_PGRADE|           JOB_TITLE|EMPLOYMENT_TYPE|JOB_STATUS|MOU|           MOU_TITLE|REGULAR_PAY|OVERTIME_PAY|ALL_OTHER_PAY|TOTAL_PAY|CITY_RETIREMENT_CONTRIBUTIONS|BENEFIT_PAY|GENDER|ETHNICITY|
+------------+--------+-------------+----------------+----------------+--------------------+---------------+----------+---+--------------------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+
|303532353731|    2016|           98| WATER AND POWER|          1539-5|            MGT ASST|      FULL_TIME|    ACTIVE|  4|ADMINISTRATIVE RE...|   79284.64|     3478.23|      1452.68| 84215.55|                      5233.00|   22763.98|FEMALE|    BLACK|
|343538313531|    2016|           98| WATER AND POWER|          3836-5|   SR ELTL MCHC SUPV|      FULL_TIME|    ACTIVE|  B|SUPERVISORY BLUE ...|  136162.68|    82689.90|     19010.33|237862.91|                      8987.00|   19072.62|  MALE|CAUCASIAN|
|  3439303036|    2016|           98| WATER AND POWER|          1924-5|          SECY LEGAL|      FULL_TIME|    ACTIVE|  7|       CLERICAL UNIT|   78935.98|        0.00|      3032.80| 81968.78|                      5210.00|   22763.98|  MALE| HISPANIC|
|  3533303532|    2016|           98| WATER AND POWER|           965-1|        CONSTR PLMBR|      FULL_TIME|NOT_ACTIVE|  Z|          DAILY RATE|   83145.76|      128.79|     41026.63|124301.18|                         0.00|       0.00|  MALE| HISPANIC|
|  3130383831|    2017|           38|            FIRE|          2112-3|     FIREFIGHTER III|      FULL_TIME|    ACTIVE| 23|FIREFIGHTERS AND ...|  104320.51|    84991.43|      4842.37|194154.31|                     48874.16|   16848.00|  MALE|    BLACK|
|323534353833|    2017|           70|          POLICE|          3711-5|  EQUIPMENT MECHANIC|      FULL_TIME|NOT_ACTIVE| 14|   SERVICE AND CRAFT|   53990.40|     1443.56|       950.00| 56383.96|                     16013.55|   10392.54|  MALE| HISPANIC|
|  3438333231|    2019|           66|       PERSONNEL|          9167-1|SENIOR PERSONNEL ...|      FULL_TIME|    ACTIVE| 00|     NON-REPRESENTED|  111777.94|        0.00|      2264.61|114042.55|                     33153.34|   16548.18|  MALE|CAUCASIAN|
|343533363833|    2017|           14|      CITY CLERK|          0729-0|ELECTION ASSISTAN...|      PART_TIME|NOT_ACTIVE| 00|     NON-REPRESENTED|     229.50|        0.00|         0.00|   229.50|                         0.00|       0.00|  MALE|    OTHER|
|343835303233|    2017|           94|  TRANSPORTATION|          7280-2|TRANSPORTATION EN...|      FULL_TIME|    ACTIVE| 08|PROFESSIONAL ENGI...|  105040.00|    14013.78|       207.14|119260.92|                     31154.86|   17550.00|  MALE| HISPANIC|
|  3630303137|    2017|           70|          POLICE|          2214-3|  POLICE OFFICER III|      FULL_TIME|NOT_ACTIVE| 24|POLICE OFFICERS, ...|  109705.12|     1330.55|      1376.20|112411.87|                     51396.85|   15515.38|  MALE| HISPANIC|
+------------+--------+-------------+----------------+----------------+--------------------+---------------+----------+---+--------------------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+
only showing top 10 rows

In [10]:
laduplicated = ladf.groupby(ladf.columns).count().where('count > 1').sort('count', ascending=False)
print(f'There are {laduplicated.count()} unique records that are duplicated.')
laduplicated.show()

There are 0 unique records that are duplicated.
+----------+--------+-------------+----------------+----------------+---------+---------------+----------+---+---------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+-----+
|RECORD_NBR|PAY_YEAR|DEPARTMENT_NO|DEPARTMENT_TITLE|JOB_CLASS_PGRADE|JOB_TITLE|EMPLOYMENT_TYPE|JOB_STATUS|MOU|MOU_TITLE|REGULAR_PAY|OVERTIME_PAY|ALL_OTHER_PAY|TOTAL_PAY|CITY_RETIREMENT_CONTRIBUTIONS|BENEFIT_PAY|GENDER|ETHNICITY|count|
+----------+--------+-------------+----------------+----------------+---------+---------------+----------+---+---------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+-----+
+----------+--------+-------------+----------------+----------------+---------+---------------+----------+---+---------+-----------+------------+-------------+---------+-----------------------------+-----------+------+---------+-----+

In [11]:
ladf = ladf.withColumn('REGULAR_PAY', F.col('REGULAR_PAY').cast(FloatType())) \
        .withColumn('OVERTIME_PAY', F.col('OVERTIME_PAY').cast(FloatType())) \
        .withColumn('ALL_OTHER_PAY', F.col('ALL_OTHER_PAY').cast(FloatType())) \
        .withColumn('TOTAL_PAY', F.col('TOTAL_PAY').cast(FloatType())) \
        .withColumn('CITY_RETIREMENT_CONTRIBUTIONS', F.col('CITY_RETIREMENT_CONTRIBUTIONS').cast(FloatType())) \
        .withColumn('BENEFIT_PAY', F.col('BENEFIT_PAY').cast(FloatType()))

ladf.printSchema()

root
 |-- RECORD_NBR: string (nullable = true)
 |-- PAY_YEAR: string (nullable = true)
 |-- DEPARTMENT_NO: string (nullable = true)
 |-- DEPARTMENT_TITLE: string (nullable = true)
 |-- JOB_CLASS_PGRADE: string (nullable = true)
 |-- JOB_TITLE: string (nullable = true)
 |-- EMPLOYMENT_TYPE: string (nullable = true)
 |-- JOB_STATUS: string (nullable = true)
 |-- MOU: string (nullable = true)
 |-- MOU_TITLE: string (nullable = true)
 |-- REGULAR_PAY: float (nullable = true)
 |-- OVERTIME_PAY: float (nullable = true)
 |-- ALL_OTHER_PAY: float (nullable = true)
 |-- TOTAL_PAY: float (nullable = true)
 |-- CITY_RETIREMENT_CONTRIBUTIONS: float (nullable = true)
 |-- BENEFIT_PAY: float (nullable = true)
 |-- GENDER: string (nullable = true)
 |-- ETHNICITY: string (nullable = true)

In [12]:
nycdf.createOrReplaceTempView("nycpayroll")
tab1 = spark.sql("SELECT DISTINCT `Agency Name` AS Agency FROM nycpayroll ORDER BY Agency")
print(f"There are a total of {tab1.count()} different agencies in New York City Government.")
tab1.show(tab1.count(), truncate=False)

There are a total of 165 different agencies in New York City Government.
+------------------------------+
|Agency                        |
+------------------------------+
|ADMIN FOR CHILDREN'S SVCS     |
|ADMIN TRIALS AND HEARINGS     |
|BOARD OF CORRECTION           |
|BOARD OF CORRECTIONS          |
|BOARD OF ELECTION             |
|BOARD OF ELECTION POLL WORKERS|
|BOROUGH PRESIDENT-BRONX       |
|BOROUGH PRESIDENT-BROOKLYN    |
|BOROUGH PRESIDENT-QUEENS      |
|BOROUGH PRESIDENT-STATEN IS   |
|BRONX COMMUNITY BOARD #1      |
|BRONX COMMUNITY BOARD #10     |
|BRONX COMMUNITY BOARD #11     |
|BRONX COMMUNITY BOARD #12     |
|BRONX COMMUNITY BOARD #2      |
|BRONX COMMUNITY BOARD #3      |
|BRONX COMMUNITY BOARD #4      |
|BRONX COMMUNITY BOARD #5      |
|BRONX COMMUNITY BOARD #6      |
|BRONX COMMUNITY BOARD #7      |
|BRONX COMMUNITY BOARD #8      |
|BRONX COMMUNITY BOARD #9      |
|BRONX DISTRICT ATTORNEY       |
|BROOKLYN COMMUNITY BOARD #1   |
|BROOKLYN COMMUNITY BOARD #10  |
|BROOKLYN COMMUNITY BOARD #11  |
|BROOKLYN COMMUNITY BOARD #12  |
|BROOKLYN COMMUNITY BOARD #13  |
|BROOKLYN COMMUNITY BOARD #14  |
|BROOKLYN COMMUNITY BOARD #15  |
|BROOKLYN COMMUNITY BOARD #16  |
|BROOKLYN COMMUNITY BOARD #17  |
|BROOKLYN COMMUNITY BOARD #18  |
|BROOKLYN COMMUNITY BOARD #2   |
|BROOKLYN COMMUNITY BOARD #3   |
|BROOKLYN COMMUNITY BOARD #4   |
|BROOKLYN COMMUNITY BOARD #5   |
|BROOKLYN COMMUNITY BOARD #6   |
|BROOKLYN COMMUNITY BOARD #7   |
|BROOKLYN COMMUNITY BOARD #8   |
|BROOKLYN COMMUNITY BOARD #9   |
|BUSINESS INTEGRITY COMMISSION |
|Bronx DA                      |
|CAMPAIGN FINANCE BOARD        |
|CITY CLERK                    |
|CITY COUNCIL                  |
|CIVIL SERVICE COMMISSION      |
|CIVILIAN COMPLAINT REVIEW BD  |
|COMMUNITY COLLEGE (BRONX)     |
|COMMUNITY COLLEGE (HOSTOS)    |
|COMMUNITY COLLEGE (KINGSBORO) |
|COMMUNITY COLLEGE (LAGUARDIA) |
|COMMUNITY COLLEGE (MANHATTAN) |
|COMMUNITY COLLEGE (QUEENSBORO)|
|CONFLICTS OF INTEREST BOARD   |
|CONSUMER AFFAIRS              |
|CULTURAL AFFAIRS              |
|CUNY CENTRAL OFFICE           |
|DEPARTMENT FOR THE AGING      |
|DEPARTMENT OF BUILDINGS       |
|DEPARTMENT OF BUSINESS SERV.  |
|DEPARTMENT OF CITY PLANNING   |
|DEPARTMENT OF CORRECTION      |
|DEPARTMENT OF EDUCATION ADMIN |
|DEPARTMENT OF FINANCE         |
|DEPARTMENT OF INVESTIGATION   |
|DEPARTMENT OF JUVENILE JUSTICE|
|DEPARTMENT OF PROBATION       |
|DEPARTMENT OF SANITATION      |
|DEPARTMENT OF TRANSPORTATION  |
|DEPT OF CITYWIDE ADMIN SVCS   |
|DEPT OF ED HRLY SUPPORT STAFF |
|DEPT OF ED PARA PROFESSIONALS |
|DEPT OF ED PEDAGOGICAL        |
|DEPT OF ED PER DIEM TEACHERS  |
|DEPT OF ED PER SESSION TEACHER|
|DEPT OF ENVIRONMENT PROTECTION|
|DEPT OF HEALTH/MENTAL HYGIENE |
|DEPT OF INFO TECH & TELECOMM  |
|DEPT OF PARKS & RECREATION    |
|DEPT OF RECORDS & INFO SERVICE|
|DEPT OF YOUTH & COMM DEV SRVS |
|DEPT. OF DESIGN & CONSTRUCTION|
|DEPT. OF HOMELESS SERVICES    |
|DISTRICT ATTORNEY KINGS COUNTY|
|DISTRICT ATTORNEY QNS COUNTY  |
|DISTRICT ATTORNEY RICHMOND COU|
|DISTRICT ATTORNEY-MANHATTAN   |
|DISTRICT ATTORNEY-SPECIAL NARC|
|DISTRICTING COMMISSION        |
|DOE CUSTODIAL PAYROL          |
|EQUAL EMPLOY PRACTICES COMM   |
|FINANCIAL INFO SVCS AGENCY    |
|FIRE DEPARTMENT               |
|GUTTMAN COMMUNITY COLLEGE     |
|HOUSING PRESERVATION & DVLPMNT|
|HRA/DEPT OF SOCIAL SERVICES   |
|HUMAN RIGHTS COMMISSION       |
|HUNTER COLLEGE HIGH SCHOOL    |
|INDEPENDENT BUDGET OFFICE     |
|Kings DA                      |
|LANDMARKS PRESERVATION COMM   |
|LAW DEPARTMENT                |
|MANHATTAN COMMUNITY BOARD #1  |
|MANHATTAN COMMUNITY BOARD #10 |
|MANHATTAN COMMUNITY BOARD #11 |
|MANHATTAN COMMUNITY BOARD #12 |
|MANHATTAN COMMUNITY BOARD #2  |
|MANHATTAN COMMUNITY BOARD #3  |
|MANHATTAN COMMUNITY BOARD #4  |
|MANHATTAN COMMUNITY BOARD #5  |
|MANHATTAN COMMUNITY BOARD #6  |
|MANHATTAN COMMUNITY BOARD #7  |
|MANHATTAN COMMUNITY BOARD #8  |
|MANHATTAN COMMUNITY BOARD #9  |
|MAYORS OFFICE OF CONTRACT SVCS|
|MUNICIPAL WATER FIN AUTHORITY |
|Manhattan DA                  |
|NYC DEPT OF VETERANS' SERVICES|
|NYC EMPLOYEES RETIREMENT SYS  |
|NYC FIRE PENSION FUND         |
|NYC HOUSING AUTHORITY         |
|NYC POLICE PENSION FUND       |
|OFF OF PAYROLL ADMINISTRATION |
|OFFICE OF COLLECTIVE BARGAININ|
|OFFICE OF EMERGENCY MANAGEMENT|
|OFFICE OF LABOR RELATIONS     |
|OFFICE OF MANAGEMENT & BUDGET |
|OFFICE OF THE ACTUARY         |
|OFFICE OF THE COMPTROLLER     |
|OFFICE OF THE MAYOR           |
|PERSONNEL MONITORS            |
|POLICE DEPARTMENT             |
|PRESIDENT BOROUGH OF MANHATTAN|
|PUBLIC ADMINISTRATOR-BRONX    |
|PUBLIC ADMINISTRATOR-KINGS    |
|PUBLIC ADMINISTRATOR-NEW YORK |
|PUBLIC ADMINISTRATOR-QUEENS   |
|PUBLIC ADMINISTRATOR-RICHMOND |
|PUBLIC ADVOCATE               |
|PUBLIC SERVICE CORPS          |
|Police Department             |
|QUEENS COMMUNITY BOARD #1     |
|QUEENS COMMUNITY BOARD #10    |
|QUEENS COMMUNITY BOARD #11    |
|QUEENS COMMUNITY BOARD #12    |
|QUEENS COMMUNITY BOARD #13    |
|QUEENS COMMUNITY BOARD #14    |
|QUEENS COMMUNITY BOARD #2     |
|QUEENS COMMUNITY BOARD #3     |
|QUEENS COMMUNITY BOARD #4     |
|QUEENS COMMUNITY BOARD #5     |
|QUEENS COMMUNITY BOARD #6     |
|QUEENS COMMUNITY BOARD #7     |
|QUEENS COMMUNITY BOARD #8     |
|QUEENS COMMUNITY BOARD #9     |
|Queens DA                     |
|Richmond DA                   |
|STATEN ISLAND COMMUNITY BD #1 |
|STATEN ISLAND COMMUNITY BD #2 |
|STATEN ISLAND COMMUNITY BD #3 |
|Spec Narcs-DA                 |
|TAX COMMISSION                |
|TAXI & LIMOUSINE COMMISSION   |
|TEACHERS RETIREMENT SYSTEM    |
+------------------------------+

In [20]:
tab2 = spark.sql("""SELECT `Fiscal Year` AS Year,
                    SUM(`Regular Gross Paid` + `Total OT Paid` + `Total Other Pay`) AS TotalPay
                    FROM nycpayroll
                    GROUP BY Year
                    ORDER BY TotalPay DESC
        """)

tab2.show(truncate=False)

+----+---------------------+
|Year|TotalPay             |
+----+---------------------+
|2020|3.0418574408038723E10|
|2019|2.9516889519514572E10|
|2018|2.754931705163799E10 |
|2017|2.71458727757124E10  |
|2016|2.551809716312446E10 |
|2015|2.4334088182743454E10|
|2014|2.286248314362995E10 |
+----+---------------------+

In [13]:
tab3 = spark.sql("""SELECT *, ROUND(TotalPay/NumberOfEmployees, 2) AS AveragePayOfAgency
                    FROM (SELECT `Agency Name` AS Agency, 
                    SUM(`Regular Gross Paid` + `Total OT Paid` + `Total Other Pay`) AS TotalPay,
                    COUNT(`Row Index`) AS NumberOfEmployees FROM nycpayroll
                    WHERE `Fiscal Year` == 2020
                    GROUP BY Agency
                    ORDER BY TotalPay DESC, NumberOfEmployees DESC
                    LIMIT 25)
        """)

tab3.show(25, truncate=False)

+------------------------------+--------------------+-----------------+------------------+
|Agency                        |TotalPay            |NumberOfEmployees|AveragePayOfAgency|
+------------------------------+--------------------+-----------------+------------------+
|DEPT OF ED PEDAGOGICAL        |9.971256719987915E9 |114999           |86707.33          |
|POLICE DEPARTMENT             |5.356858772763836E9 |60316            |88813.23          |
|FIRE DEPARTMENT               |1.8644133478075857E9|19193            |97140.28          |
|DEPT OF ED PARA PROFESSIONALS |1.2480015119021907E9|41353            |30179.23          |
|DEPARTMENT OF CORRECTION      |1.0949519880879471E9|12723            |86060.83          |
|DEPARTMENT OF EDUCATION ADMIN |1.0548904804637426E9|17869            |59034.67          |
|DEPARTMENT OF SANITATION      |1.0275529499124413E9|11787            |87176.8           |
|NYC HOUSING AUTHORITY         |8.617265504048588E8 |13978            |61648.77          |
|HRA/DEPT OF SOCIAL SERVICES   |8.278528244715536E8 |14547            |56908.84          |
|DEPT OF ENVIRONMENT PROTECTION|6.015208329669925E8 |7295             |82456.59          |
|DEPT OF HEALTH/MENTAL HYGIENE |5.54613627142681E8  |8301             |66812.87          |
|ADMIN FOR CHILDREN'S SVCS     |5.527218076526523E8 |8634             |64016.89          |
|DEPARTMENT OF TRANSPORTATION  |5.342477675511919E8 |6683             |79941.31          |
|DEPT OF PARKS & RECREATION    |4.400740449362645E8 |14008            |31415.91          |
|DEPT OF ED HRLY SUPPORT STAFF |4.339663492123003E8 |21373            |20304.42          |
|DEPT OF ED PER SESSION TEACHER|3.2135007643939257E8|105717           |3039.72           |
|DEPT OF CITYWIDE ADMIN SVCS   |2.1707229305472207E8|3014             |72021.33          |
|HOUSING PRESERVATION & DVLPMNT|1.8585725322133914E8|2853             |65144.5           |
|DEPARTMENT OF FINANCE         |1.7572537366005135E8|2445             |71871.32          |
|DEPT. OF HOMELESS SERVICES    |1.620756650103343E8 |3006             |53917.39          |
|LAW DEPARTMENT                |1.608058363269558E8 |2244             |71660.35          |
|COMMUNITY COLLEGE (MANHATTAN) |1.5987153212006485E8|6539             |24448.93          |
|DEPT OF INFO TECH & TELECOMM  |1.581204514333458E8 |1941             |81463.4           |
|DEPT OF ED PER DIEM TEACHERS  |1.5139730344249535E8|11323            |13370.78          |
|DEPARTMENT OF BUILDINGS       |1.4115959984891987E8|2143             |65870.09          |
+------------------------------+--------------------+-----------------+------------------+

In [22]:
tab4 = spark.sql("""SELECT Agency, TotalHours, ROUND(TotalWorkPay/TotalHours, 2) AS AverageHourlyPay
                    FROM (SELECT `Agency Name` AS Agency,
                    SUM(`Regular Hours` + `OT Hours`) AS TotalHours,
                    SUM(`Regular Gross Paid` + `Total OT Paid`) AS TotalWorkPay
                    FROM nycpayroll
                    WHERE `FISCAL YEAR` == 2020
                    GROUP BY Agency
                    ORDER BY TotalHours DESC
                    LIMIT 30)
        """)

tab4.show(30, truncate=False)

+------------------------------+--------------------+----------------+
|Agency                        |TotalHours          |AverageHourlyPay|
+------------------------------+--------------------+----------------+
|POLICE DEPARTMENT             |1.268098118532486E8 |37.21           |
|FIRE DEPARTMENT               |4.362525443268359E7 |37.77           |
|DEPARTMENT OF CORRECTION      |2.724735552547455E7 |36.2            |
|DEPARTMENT OF EDUCATION ADMIN |2.47645985E7        |39.8            |
|NYC HOUSING AUTHORITY         |2.4324237E7         |33.74           |
|HRA/DEPT OF SOCIAL SERVICES   |2.4090660520507812E7|32.43           |
|DEPARTMENT OF SANITATION      |2.375066957244873E7 |38.16           |
|DEPT OF PARKS & RECREATION    |1.4635142969848633E7|28.15           |
|ADMIN FOR CHILDREN'S SVCS     |1.4023586790222168E7|37.96           |
|DEPT OF HEALTH/MENTAL HYGIENE |1.2891069119873047E7|40.06           |
|DEPT OF ENVIRONMENT PROTECTION|1.2672862378845215E7|43.99           |
|DEPARTMENT OF TRANSPORTATION  |1.184335651965332E7 |42.56           |
|DEPT OF CITYWIDE ADMIN SVCS   |5417780.110107422   |38.64           |
|DEPT. OF HOMELESS SERVICES    |4758149.880371094   |32.1            |
|HOUSING PRESERVATION & DVLPMNT|4552971.439941406   |39.17           |
|DEPARTMENT OF FINANCE         |3996513.729736328   |42.31           |
|LAW DEPARTMENT                |3445763.75          |45.89           |
|DEPARTMENT OF BUILDINGS       |3396004.3498535156  |40.54           |
|DEPT OF INFO TECH & TELECOMM  |3000081.3399658203  |51.1            |
|DISTRICT ATTORNEY-MANHATTAN   |2800701.3600463867  |44.55           |
|COMMUNITY COLLEGE (MANHATTAN) |2566012.5400390625  |60.66           |
|DEPT. OF DESIGN & CONSTRUCTION|2420364.75          |48.68           |
|DEPARTMENT OF PROBATION       |2332211.2202148438  |32.81           |
|COMMUNITY COLLEGE (LAGUARDIA) |2182169.3196411133  |55.83           |
|DISTRICT ATTORNEY KINGS COUNTY|2123224.0           |41.39           |
|BRONX DISTRICT ATTORNEY       |1959387.0           |39.07           |
|COMMUNITY COLLEGE (KINGSBORO) |1784441.4001464844  |54.98           |
|BOARD OF ELECTION             |1776008.730102539   |29.11           |
|COMMUNITY COLLEGE (QUEENSBORO)|1652115.75          |62.23           |
|COMMUNITY COLLEGE (BRONX)     |1524315.9198608398  |56.51           |
+------------------------------+--------------------+----------------+

In [28]:
tab4 = spark.sql("""SELECT Agency, NumberOfEmployees, ROUND(TotalWorkPay/TotalHours, 2) AS AverageHourlyPay
                    FROM (SELECT `Agency Name` AS Agency, COUNT(`Row Index`) AS NumberOfEmployees,
                    SUM(`Regular Hours` + `OT Hours`) AS TotalHours,
                    SUM(`Regular Gross Paid` + `Total OT Paid`) AS TotalWorkPay
                    FROM nycpayroll
                    WHERE `FISCAL YEAR` = 2020 AND `Agency Name` LIKE '%COLLEGE%' 
                    OR `Agency Name` LIKE 'DEPT OF ED%'
                    GROUP BY Agency
                    ORDER BY TotalHours DESC)
        """)

tab4.show(30, truncate=False)

+------------------------------+-----------------+----------------+
|Agency                        |NumberOfEmployees|AverageHourlyPay|
+------------------------------+-----------------+----------------+
|COMMUNITY COLLEGE (MANHATTAN) |6539             |60.66           |
|COMMUNITY COLLEGE (LAGUARDIA) |4902             |55.83           |
|COMMUNITY COLLEGE (KINGSBORO) |4085             |54.98           |
|COMMUNITY COLLEGE (QUEENSBORO)|4222             |62.23           |
|COMMUNITY COLLEGE (BRONX)     |3484             |56.51           |
|COMMUNITY COLLEGE (HOSTOS)    |2353             |51.9            |
|GUTTMAN COMMUNITY COLLEGE     |795              |57.94           |
|HUNTER COLLEGE HIGH SCHOOL    |351              |52.97           |
|DEPT OF ED PER DIEM TEACHERS  |90784            |null            |
|DEPT OF ED PER SESSION TEACHER|608565           |null            |
|DEPT OF ED PEDAGOGICAL        |758360           |null            |
|DEPT OF ED PARA PROFESSIONALS |245259           |null            |
|DEPT OF ED HRLY SUPPORT STAFF |164165           |null            |
+------------------------------+-----------------+----------------+

In [57]:
colleges = ['COMMUNITY COLLEGE (MANHATTAN)', 'COMMUNITY COLLEGE (LAGUARDIA)', 'COMMUNITY COLLEGE (KINGSBORO)', 'COMMUNITY COLLEGE (QUEENSBORO)', 'COMMUNITY COLLEGE (BRONX)', 'COMMUNITY COLLEGE (HOSTOS)', 'GUTTMAN COMMUNITY COLLEGE']
nycdf.where((F.col('Fiscal Year') == 2020) & (F.col('Agency Name').isin(colleges))) \
.groupby('Title Description').count().sort(F.desc('count')).show()

+--------------------+-----+
|   Title Description|count|
+--------------------+-----+
|   COLLEGE ASSISTANT| 6917|
|    ADJUNCT LECTURER| 4131|
|ADJUNCT ASSISTANT...| 1377|
|CONTINUING EDUCAT...| 1350|
|NON-TEACHING ADJU...| 1305|
| ASSISTANT PROFESSOR| 1110|
| ASSOCIATE PROFESSOR|  981|
|           PROFESSOR|  844|
|HIGHER EDUCATION ...|  761|
|            LECTURER|  672|
|CUNY CUSTODIAL AS...|  537|
|CUNY OFFICE ASSIS...|  512|
|NON-TEACHING ADJU...|  509|
|ADJUNCT COLLEGE L...|  476|
|        STUDENT AIDE|  431|
|    ASSISTANT TO HEO|  415|
|HIGHER EDUCATION ...|  380|
|NON-TEACHING ADJU...|  361|
|HIGHER EDUCATION ...|  299|
|NON-TEACHING ADJU...|  212|
+--------------------+-----+
only showing top 20 rows

In [70]:
tab5 = spark.sql("""SELECT Position, `Pay Basis`, Count,
            ROUND(TotalWorkPay/TotalHours, 2) AS AverageHourlyPay, 
            MaxHourlyPay, MinHourlyPay
            FROM (SELECT `Title Description` AS Position, `Pay Basis`, COUNT(`Row Index`) AS Count,
            SUM(`Regular Hours` + `OT Hours`) AS TotalHours,
            SUM(`Regular Gross Paid` + `Total OT Paid`) AS TotalWorkPay,
            ROUND(MAX((`Regular Gross Paid` + `Total OT Paid`)/(`Regular Hours` + `OT Hours`)), 2) AS MaxHourlyPay,
            ROUND(MIN((`Regular Gross Paid` + `Total OT Paid`)/(`Regular Hours` + `OT Hours`)), 2) AS MinHourlyPay
            FROM nycpayroll
            WHERE `Fiscal Year` = 2020 AND `Agency Name` LIKE '%COMMUNITY COLLEGE%'
            GROUP BY Position, `Pay Basis`
            ORDER BY TotalHours DESC) 
            ORDER BY AverageHourlyPay DESC
        """)

tab5.show(truncate=False)

+----------------------------+---------+-----+----------------+------------+------------+
|Position                    |Pay Basis|Count|AverageHourlyPay|MaxHourlyPay|MinHourlyPay|
+----------------------------+---------+-----+----------------+------------+------------+
|DISTINGUISHED PROFESSOR     |per Annum|1    |658.83          |658.83      |658.83      |
|UNIVERSITY PROFESSOR        |per Annum|2    |623.56          |630.89      |620.2       |
|PROFESSOR                   |per Annum|540  |444.06          |1107.71     |35.68       |
|CLINICAL PROFESSOR          |per Annum|1    |411.96          |411.96      |411.96      |
|ASSOCIATE PROFESSOR         |per Annum|639  |345.15          |516.51      |47.33       |
|NON-TEACHING ADJUNCT II     |per Day  |2    |339.01          |427.78      |294.63      |
|EOC LECTURER                |per Annum|10   |309.28          |331.72      |252.58      |
|ASSISTANT PROFESSOR         |per Annum|773  |296.06          |438.49      |-298.44     |
|LECTURER                    |per Annum|402  |283.48          |409.95      |47.39       |
|INSTRUCTOR                  |per Annum|51   |245.91          |305.03      |127.04      |
|CUNY START INSTRUCTOR       |per Annum|74   |237.52          |285.95      |188.64      |
|CLIP INSTRUCTOR             |per Annum|63   |210.44          |260.92      |169.59      |
|CONTINUING EDUCATION TEACHER|per Day  |6    |187.36          |227.41      |156.35      |
|ADJUNCT PROFESSOR           |per Day  |65   |165.01          |378.21      |59.08       |
|EOC ADJUNCT LECTURER        |per Day  |38   |144.62          |187.86      |43.57       |
|ADJUNCT ASSOCIATE PROFESSOR |per Day  |96   |141.61          |472.72      |12.81       |
|ASSISTANT PROFESSOR         |per Day  |296  |131.78          |852.6       |7.92        |
|ASSOCIATE PROFESSOR         |per Day  |289  |125.2           |787.86      |8.59        |
|PRESIDENT                   |per Annum|9    |124.86          |160.11      |119.13      |
|PROFESSOR                   |per Day  |269  |123.77          |448.01      |12.53       |
+----------------------------+---------+-----+----------------+------------+------------+
only showing top 20 rows

In [72]:
nycdf.filter((F.col('Fiscal Year') == 2020) & (F.col('Title Description') == 'ASSISTANT PROFESSOR') 
             & (F.col('Regular Gross Paid') + F.col('Total OT Paid') < 0)).show()

+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+-------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|Fiscal Year|Payroll Number|         Agency Name|Last Name|First Name|Mid Init|Agency Start Date|Work Location Borough|  Title Description|Leave Status as of June 30|Base Salary|Pay Basis|Regular Hours|Regular Gross Paid|OT Hours|Total OT Paid|Total Other Pay|    Row Index|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+-------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|       2020|           468|COMMUNITY COLLEGE...|   LAUCER|    HAMIDE|    null|             null|                BRONX|ASSISTANT PROFESSOR|                  SEASONAL|     151.99|  per Day|          -10|          -3039.84|     0.0|          0.0|        1550.32|1030792151043|
|       2020|           468|COMMUNITY COLLEGE...|    RONCA|  KATHLEEN|       A|             null|                BRONX|ASSISTANT PROFESSOR|                  SEASONAL|      48.72|  per Day|          -10|            -974.4|     0.0|          0.0|         606.54|1082331758599|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+-------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+

In [74]:
nycdf.filter((F.col('Fiscal Year') == 2020) & (F.col('Last Name').isin({'LAUCER', 'RONCA'})) 
             & (F.col('First Name').isin({'HAMIDE', 'KATHLEEN'}))).show()

+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|Fiscal Year|Payroll Number|         Agency Name|Last Name|First Name|Mid Init|Agency Start Date|Work Location Borough|   Title Description|Leave Status as of June 30|Base Salary|Pay Basis|Regular Hours|Regular Gross Paid|OT Hours|Total OT Paid|Total Other Pay|    Row Index|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|       2020|           468|COMMUNITY COLLEGE...|    RONCA|  KATHLEEN|       A|             null|                BRONX|NON-TEACHING ADJU...|                    CEASED|      49.69| per Hour|            9|            447.22|     0.0|          0.0|            0.0| 154618825159|
|       2020|           468|COMMUNITY COLLEGE...|   LAUCER|    HAMIDE|    null|             null|                BRONX|NON-TEACHING ADJU...|                    CEASED|      52.73| per Hour|            6|            310.14|     0.0|          0.0|            0.0| 781684049649|
|       2020|           468|COMMUNITY COLLEGE...|   LAUCER|    HAMIDE|    null|             null|                BRONX| ASSISTANT PROFESSOR|                  SEASONAL|     151.99|  per Day|          -10|          -3039.84|     0.0|          0.0|        1550.32|1030792151043|
|       2020|           468|COMMUNITY COLLEGE...|    RONCA|  KATHLEEN|       A|             null|                BRONX| ASSISTANT PROFESSOR|                  SEASONAL|      48.72|  per Day|          -10|            -974.4|     0.0|          0.0|         606.54|1082331758599|
|       2020|           468|COMMUNITY COLLEGE...|   LAUCER|    HAMIDE|    null|             null|                BRONX| ASSISTANT PROFESSOR|                    ACTIVE|    93791.0|per Annum|          260|          94004.75|     0.0|          0.0|            0.0|1082331763156|
|       2020|           468|COMMUNITY COLLEGE...|    RONCA|  KATHLEEN|       A|             null|                BRONX| ASSISTANT PROFESSOR|                    ACTIVE|    87762.0|per Annum|          260|          86627.54|     0.0|          0.0|            0.0|1417339212038|
+-----------+--------------+--------------------+---------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+

In [76]:
nycdf.filter((F.col('Fiscal Year') == 2020) & (F.col('Title Description').isin({'DISTINGUISHED PROFESSOR', 'UNIVERSITY PROFESSOR'}))).show()

+-----------+--------------+--------------------+----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|Fiscal Year|Payroll Number|         Agency Name| Last Name|First Name|Mid Init|Agency Start Date|Work Location Borough|   Title Description|Leave Status as of June 30|Base Salary|Pay Basis|Regular Hours|Regular Gross Paid|OT Hours|Total OT Paid|Total Other Pay|    Row Index|
+-----------+--------------+--------------------+----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+
|       2020|           466|COMMUNITY COLLEGE...|     PEREZ|   ANTONIO|    null|             null|            MANHATTAN|UNIVERSITY PROFESSOR|                    ACTIVE|   162270.0|per Annum|          218|         135202.89|     0.0|          0.0|         257.51|1185410974580|
|       2020|           463|COMMUNITY COLLEGE...|     KEIZS|    MARCIA|       V|             null|               QUEENS|UNIVERSITY PROFESSOR|                    ACTIVE|   157079.0|per Annum|          100|          63089.14|     0.0|          0.0|            0.0|1236950584604|
|       2020|           468|COMMUNITY COLLEGE...|GOLDEMBERG|     ISAAC|    null|             null|                BRONX|DISTINGUISHED PRO...|                    CEASED|   159649.0|per Annum|           40|          26353.25|     0.0|          0.0|            0.0|1374389536296|
+-----------+--------------+--------------------+----------+----------+--------+-----------------+---------------------+--------------------+--------------------------+-----------+---------+-------------+------------------+--------+-------------+---------------+-------------+